# Find PyTorch wheels here
-f https://download.pytorch.org/whl/torch_stable.html

# ===============================
# Core Framework
# ===============================
streamlit==1.35.0

# ===============================
# LangChain Ecosystem
# ===============================
langchain==1.0.*
langchain-core==1.0.*
langchain-classic==1.0.*
langchain-community==0.4.*
langchain-text-splitters==1.0.*
langchain-huggingface==1.0.*
langchain-groq==1.0.*

# ===============================
# LLM, Embeddings & Torch
# ===============================
torch==2.3.1+cpu
torchvision==0.18.1+cpu
transformers==4.41.2
sentence-transformers==2.7.0
ollama==0.2.1
tiktoken

# ===============================
# Vector Database
# ===============================
faiss-cpu==1.8.0

# ===============================
# Keyword / Hybrid Retrieval
# ===============================
rank_bm25==0.2.2

# ===============================
# Document Processing
# ===============================
python-docx==1.1.2
PyMuPDF==1.24.5
pdfplumber
pdf2image
pillow==10.3.0
pytesseract
opencv-python

# ===============================
# Utilities
# ===============================
pydantic
loguru
requests
tqdm
python-dotenv==1.0.1